﻿@model BiblioDatCore.Web.Models.Student

<h2>StudentsEdit</h2>

@using (Html.BeginForm("Edit", "Students"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @*Html.HiddenFor(m => m.Id)*@
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Id)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Id)</div>

    <div class="editor-label">@Html.LabelFor(m => m.FirstName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.FirstName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.LastName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.LastName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Gender)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Gender)</div>

    <div class="editor-label">@Html.LabelFor(m => m.ClassYear)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ClassYear)</div>

    <div class="editor-label">@Html.LabelFor(m => m.DateOfBirth)</div>
    <div class="editor-field">@Html.EditorFor(m => m.DateOfBirth)</div>

    <input type="submit" value="SUBMIT" />
}