﻿@model IEnumerable<BiblioDatCore.Web.Models.Student>

<h2>StudentsList</h2>

@if (Model.Count() == 0)
{
    <p>No data found in database.</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.First().LastName)</th>
            <th>@Html.DisplayNameFor(m => m.First().ClassYear)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => student.FirstName)</td>
                <td>@Html.DisplayFor(m => student.LastName)</td>
                <td>@Html.DisplayFor(m => student.ClassYear)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = student.Id })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = student.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = student.Id })</td>
            </tr>
        }
    </table>
}