﻿@model BiblioDatCore.Web.Models.Student

@{
    ViewData["Title"] = "StudentsDetails";
}

<h2>Datasheet of one student</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FirstName)</td>
        <td>@Html.DisplayFor(m => m.FirstName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.LastName)</td>
        <td>@Html.DisplayFor(m => m.LastName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Gender)</td>
        <td>@Html.DisplayFor(m => m.Gender)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ClassYear)</td>
        <td>@Html.DisplayFor(m => m.ClassYear)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.DateOfBirth)</td>
        <td>@Html.DisplayFor(m => m.DateOfBirth)</td>
    </tr>
</table>