﻿@model BiblioDatCore.Web.Models.StudentListViewModel

@{
    ViewData["Title"] = "StudentsIndex";
}

<h2>Students Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("StudentsEdit", Model.EditedStudent)

@await Html.PartialAsync("StudentsList", Model.ListOfStudents)